* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* box-sizing: border-box; */
    transition: all .2s;
}
/* Cheikh  */
c-socket{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
c-header{
    height: 20vh;
}
c-main{
    /* max-height: 70vh; */
    overflow-y: scroll;
}
c-footer{
    /* height: 25vh; */
    /* overflow: hidden; */
}
sc-user-info{
    max-height: 70vh;
    overflow-y: scroll;
}
c-posts-container{
    max-height: 70vh;
    overflow-y: scroll;
}
/* stylize scroll bar */
/* width and height for the main scrollbar area */
::-webkit-scrollbar {
    width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  /* background: rgba(241, 241, 241,0.1); */
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* ###### */

a,button {
    text-decoration: none;
    color: white;
    display: flex;
    cursor: pointer;
}

body::-webkit-scrollbar {
    display: none;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/public/img/rsz_bg-home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* padding: 10px 40px; */
}

/* index page style */
.main-header{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.main-header>.menu-a{
    padding: 0;
    background-color: #002ea3;
    width: 150px;
    height: 37px;
    border-radius: 23px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.main-content{
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin-top: 4vw;
}
.main-content-subscribe{
    display: flex;
    justify-content: center;
}
.subscribe{
    font-size: 30px;
    font-weight: 500;
    background: linear-gradient(#1426a3,#d907f5);
    width: 260px;
    margin-top: 5.5vw;
    height: 47px;
    align-items: center;
    border-radius: 23px;
    justify-content: center;
}
.form-f{
    display: flex;
    width: 47%;
    justify-content: center;
    align-items: center;
}

.contents{
    display: flex;
    margin-top: 5vw;
}
.rigth-des {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d1a2a;
    width: 53%;
    height: 37.5vw;
}


.rigth-content{
    border:7px #1326a2 solid ;
    padding: 5vw;
    font-size: 5.5vw;
    font-weight: 500;

}
footer{
    background-color: #08030d;
}
.footer{
    display: flex;
    justify-content: space-between;
    height: 60px;
    overflow: hidden;
    /* padding: 20px 20px 0 0; */
}
.footer .copyrigth{
    margin-top: 20px;
    margin-right: 20px;
}
.footer-title{
    color: #002ea3;
    font-size: larger;
}
.title-form{
margin-bottom: 12px;
font-size: 35px;
font-weight: 500;
}
.input-form>input{
    width: 19vw;
    height: 2.8vw;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
}
.input-form>input[type=radio]{
    width: auto;
    height: auto;
}
.error-message{
    color: red;
    margin: 10px 0;
    font-size: 12px;
    word-wrap:break-word; 
}
.submit-btn{
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    background: linear-gradient(#1426a3,#d907f5);
    width: 19vw;
    border-radius: 23px;
    height: 47px;
    display: inline-block;

}
.modal-main-f{
    display: none;  /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
    background-color: #0d1a2a93;
    z-index: 9999999;
    align-content: center;
}
.modal{
    position: absolute;
    top:20%;
    right: 30%;
    background-color: #0e1a2b;
    width: 44vw;
    height: 500px;
    margin: 0;
    border-radius: 15px;
    align-items: center;
    padding: 0 10px;
    backdrop-filter: blur(8px);
    transition: all 0.5s ease;
}
.modal-header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.tilte-modal{
    font-size: 30px;
    font-weight:600;

}
.btn-close{
    width: 15px;
    margin-top:-20px
}
c-modal .modal-form-container{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
c-modal .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(8, 3, 13,0.5);
    /* background-color: red; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.modal-form{
    z-index: 2;
    margin: 0 20px;
    display: flex;
    align-items: center;
    background-color: gray;
    border-radius: 15px;
    padding: 10px;
}
.input-form-m>p{
    font-size: 25px;
    font-weight: 600;
    padding: 10px 0;
}
.input-form-m>input{
    display: flex;
    padding-left: 10px;
    width: 35vw;;
    border-radius: 7px;
    height: 40px;
    border: 1px solid  ;
    background-color: #374151;
    color: #fff;
    justify-content: center;
    font-size: 16px;
}
.input-form-m{
    margin-bottom: 15px;
}
.input-form-m>textarea{
    resize: none;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 35vw;
    border-radius: 7px;
    height: 100px;
    border: 1px solid  ;
    background-color: #374151;
    padding-left: 10px;
    color: #fff;
}
.post-submit{
    margin: 7px 0;
    display:flex ;
    font-size: 20px;
    border-radius: 4px;
    width: 25vw;
    height: 45px;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#1426a3,#6208a2);
}
.post-submit:hover{
    background: linear-gradient(#580451,#1426a3);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    margin: 40px;
}

.auth-btns {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 40px;
}

.sbcr {
    color: #FFF;
    text-align: center;
    font-family: Space Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    /* background-color: grey; */
}

.join , .logout, .sbcr {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 86px;
    color: #FFF;
    text-align: center;
    font-family: Space Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
}
.logout{
    background: red;
    width: 140px;
}
.join, .sbcr {
    background: #002EA3;
    width: 190px;
}
.main-home {
    margin: auto;
    display: flex;
    gap: 25px;
    /* padding: 20px; */
    /* flex-wrap: wrap; */
}

.logo img {
    display: inline-block;
    width: 150px;
    height: 80px;
    z-index: -1;
}

.sc-user-info {
    display: flex;
    /* max-height: 590px; */
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: rgba(255, 255, 255, 0.03);
    padding: 30px;
}

.profil {
    display: flex;
    /* width: 217.956px; */
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profil-photo {
    border-radius: 50%;
    background: #C0C0C0;
}

.user-name {
    color: #FFF;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    padding: 10px;
    text-align: center;
    width: 15vw;
}

.dcn-btn {
    display: flex;
    width: 190px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 86px;
    background: #002EA3;
}

.dcn-btn a {
    color: #FFF;
    text-align: center;
    font-family: Space Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
}

.user-ac {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.user-ac div{
    background: rgba(255, 255, 255, 0.04);
    width: 23vw;
    padding: 20px;
    text-align: center;
}

.user-ac div, p {
    color: #FFF;
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
    
}

.filter {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
}

.filter-btn {
    display: flex;
    gap: 5px;
    margin-left: 10px;
    border-radius: 25px;
    background-color: white;
    color: black;
    padding: 10px;
}

/* xander */
.first{
    display: flex;
    gap: 5px;
    margin-left: 10px;
    border-radius: 25px;
    background-color: rgb(48, 48, 239);
    color: black;
    padding: 10px;
}

.icone {
    width: 19px;
    height: 19px;
}


.sc-post {
    background: linear-gradient(180deg, rgba(235, 237, 255, 0.10) 0%, rgba(235, 237, 255, 0.00) 100%);
    padding: 30px;
    border-radius: 25px;
    flex: 3;
    /* max-width: 64vw; */
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    padding: 5px;
    border-radius: 10px;
}

.post-teaser {
    /* max-width:57vw; */
    width: 100%;
    display: flex;
    padding: 25px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #393939;
    background: #1C1C1C;
    box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.15);
    margin: auto;
    /* overflow: scroll; */
    overflow-wrap: anywhere;
}

/* xander */
.mentary{
    background-color: #282828;
    border-bottom: 5px solid #002EA3;
}

/* xander */
.area{
    display: flex;
}

/* xander */
button {
    padding: 1%;
    margin-left: 1%;
}

/* xander */
input[type="text"][name="comment"] {
    margin-top: 2%;
    background-color: #1C1C1C;
    border: 1px solid rgb(50, 50, 50);
    height: 60px;
    display: flex;
    box-sizing: border-box;
    border-radius: 60px;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 0.01em;
    width: 40vw;
}

/* xander */
::placeholder{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-spacing: 1px;
    font-size: 15px;
    font-weight:bold;
}

/* xander */
.btn{
    background: linear-gradient(to right, blue, purple );    
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 1.7%;
    margin-left: 3%;
    width: 195px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    gap: 12px;
}

/* xander */
.im{
    width: 15%;
}

/* xander */
.words{
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
}

/* xander */
.head {
    width: 100%;
    display: flex;
    justify-content:space-between;
}

/* xander */
.tete{
    width: 100%;
    display: flex;
}

.ctn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.nm-tm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* aleatory changes */
.nm-tm {
    font-size: 18px;
}

/* xander */
.imge img{
    width: 50px;
    padding-bottom: 10px;
    margin: 10px;
}

/* xander */
.pseudo {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* xander */
.mentary{
    padding: 10px;
}

.cm-time {
    color: var(--subtitle-text-color, #808080);
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}

/* xander */
span {
    color: var(--subtitle-text-color, #808080);
    font-family: Roboto;
    /* font-size: 10px; */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}

.feather {
    display: flex;
    flex-direction: column;
}

/* xander */
.text-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cmt {
    color: #808080;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.7px;
}

.cmt-title {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.7px;
}

.submenu {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sb-tags {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.apprec {
    cursor: pointer;
}

.sb-tags-l {
    display: flex;
    background-color: #1C1C1C;
    padding: 6px;
    border-radius: 10px;
    gap: 10px;
    height: max-content;
}

.material-symbols-outlined {
    font-size: 16px;
}

.like {
    background-color: #002EA3;
}

.activity {
    display: flex;
    gap: 5px;
}


/* commment page section - francois */

.pc {
    gap: 15px;
}

.cmts-ct {
    display: block;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: flex-start;
    gap: 10px; */
    align-self: stretch;
    border-bottom: 3px solid #1326A2;
    background: rgba(255, 255, 255, 0.04);
    padding: 10px 16px;
    max-height: 350px;
    overflow-y: scroll;
}
.cmts-ct::-webkit-scrollbar{
    display: none;
}

.cmt-ct {
    display: flex;
    padding: 6px 0px;
    align-items: flex-start;
    gap: 10px;
}

.usr-cmt-photo img {
    width: 30px;
    height: 30px;
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    gap: 5px;
}

.cmt-head {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 6px;
}

.new-comment {
    display: flex;
    align-self: stretch;
    gap: 10px;
}

.nc-ct {
    display: inline-flex;
    align-items: center;
    border-radius: 52px;
    border: 1px solid #3F3F3F;
    background: #1E1E1E;
    padding: 10px;
}

.nc-cm-btn {
    
    background: var(--gradient, linear-gradient(130deg, #002EA3 0%, #7800A3 100%));
    /* background: linear-gradient(to right, blue, purple );     */
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 1.7%;
    margin-left: 3%;
    width: 195px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    gap: 12px;
}

input[type="text"] {
    font-size: 16px;
}



.box select {
    background-color: #374151;
    color: white;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 3px;
  }
  
  /* .box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  } */
  
  /* .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  } */
  
  
/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.page {
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    font-family: Space Grotesk;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 1px
}

.page:hover {
    background-color: red;
    color: white;
}

.active {
    background-color: #ec0404;
    pointer-events: none;
}



.toast {
    position: fixed;
    top: 100px;
    right: 300px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    display: none;
  }
  
  .toast.active {
    transform: translateX(0%);
  }
  
  .toast .toast-content {
    display: flex;
    align-items: center;
  }
  
  .toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #ff0000ab;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
  }
  
  .toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
  
  .message .text {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
  }
  
  .message .text.text-1 {
    font-weight: 600;
    color: #333;
  }
  

  
  .toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
  
  }
  
  .toast .progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
  }
  
  .progress.active:before {
    animation: progress 5s linear forwards;
  }
  
  @keyframes progress {
    100% {
      right: 100%;
    }
  }
  






  /*  */

  .sec-center {
  position: relative;
  max-width: 100%;
  text-align: center;
  /* z-index: ; */
}
.sec-center>[type="checkbox"]:checked,
.sec-center>[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}
.dark-light:checked ~ .light-back{
  opacity: 1;
}
.dropdown:checked + label,
.dropdown:not(:checked) + label{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 220px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color:  #374151;
  cursor: pointer;
  color: #ffffff;
  box-shadow: 0 12px 35px 0 rgba(255,235,167,.15);
}
.dark-light:checked ~ .sec-center .for-dropdown{
  background-color: gba(255, 255, 255, 0.04);
  color:  #ffffff;;
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
}
.dropdown:checked + label:before,
.dropdown:not(:checked) + label:before{
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: auto;
  pointer-events: none;
}
.dropdown:checked + label:before{
  pointer-events: auto;
}
.dropdown:not(:checked) + label .uil {
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.dropdown:checked + label .uil {
  transform: rotate(180deg);
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #111;
  top: 70px;
  left: 0;
  width: 100%;
  border-radius: 4px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown {
  background-color:  #002EA3;;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.15);
}
.dropdown:checked ~ .section-dropdown{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
  display: block;
  z-index: 1;
}
.section-dropdown:after {
  position: absolute;
  top: -7px;
  left: 30px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; 
  border-bottom: 8px solid #111;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown:after {
  border-bottom: 8px solid #fff;
}

.sec-center > a {
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
}
.section-dropdown a {
  color: white;
}

.section-dropdown a:hover {
  background-color: #888;
}
a .uil {
  font-size: 22px;
}
.dropdown-sub:checked + label,
.dropdown-sub:not(:checked) + label{
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
    cursor: pointer;
}
.dropdown-sub:checked + label .uil,
.dropdown-sub:not(:checked) + label .uil{
  font-size: 22px;
}
.dropdown-sub:not(:checked) + label .uil {
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label .uil {
  transform: rotate(135deg);
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label:hover,
.dropdown-sub:not(:checked) + label:hover{
  color: #102770;
  background-color: #ffeba7;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub{
  color: #102770;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub:hover{
  color:  #002EA3;
  background-color: #102770;
}

.section-dropdown-sub {
  position: relative;
  display: block;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  max-height: 0;
  padding-left: 10px;
  padding-right: 3px;
  overflow: hidden;
  transition: all 200ms linear;
}
.dropdown-sub:checked ~ .section-dropdown-sub{
  pointer-events: auto;
  opacity: 1;
  max-height: 999px;
}
.section-dropdown-sub a {
  font-size: 14px;
}
.section-dropdown-sub a .uil {
  font-size: 20px;
}

fieldset {
    border: none;
}
fieldset > label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    vertical-align: top;
    font-size: 1rem;
    line-height: 28px;
}
fieldset > label::after {
    content: ":";
}
select,
details {
    display: inline-block;
    width: 250px;
    background-color: #374151;
    cursor: pointer;
    color: #fff;
}
select,
summary {
    border: 1px solid var(--lt-gray);
    border-collapse: collapse;
    border-radius: 4px;
    padding: 4px;
    width: 250px;
    background-color: #374151;;
    cursor: pointer;
    color: #fff;
}
details[open] > summary::marker {
    color: var(--blue);
}
select:focus,
summary:focus,
summary:active {
    box-shadow: 0 0 5px 1px var(--blue);
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 2px;
    border: 1px solid var(--dk-gray);
    box-shadow: 0 0 5px 1px var(--lt-gray);
}
li {
    margin: 0px;
    padding: 0px;
}
li > label {
    cursor: pointer;
    display: inline-block;
    width: 100%;
}
li > label:hover,
li > label:has(input:checked) {
    background-color: var(--dk-gray);
    color: white;
}
